.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border-radius: 5px;
}

.dashboard-menu {
  display: flex;
  justify-content: right;
}

.dashboard-layout {
  height: 100%;
}

.dashboard-site-layout .dashboard-site-layout-background {
  background: #fff;
}

.site-page-header {
  padding-left: 0;
}

//[data-theme="dark"] .dashboard-site-layout .dashboard-site-layout-background {
//  background: #141414;
//}